.contac-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem;
	min-width: 300px;
	font-size: 1.5rem;
}

.contac-label {
	margin-left: 1.5rem;
}

#contac {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 11rem;
}

#contac-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 1rem;
	width: 90%;
	height: 80%;
}

#contac-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#contac-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding-top: 3rem;
	max-width: 500px;
	height: 100%;
}

#contac-btn {
	transition: background-color 0.2s;
	margin-top: 1.5rem;
}

#contac-btn:hover {
	background-color: #444444;
}

#fprivacy {
	margin: 24px 0;
}

#fmsg {
	padding: 0.8rem;
	min-height: 150px;
}

@media (max-width: 680px) and (orientation: portrait) {
	.contac-item {
		flex-direction: row;
	}

	#contac-btn {
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
	}

	#contac-form {
		width: 100%;
	}

	#fmsg {
		padding: 0.5rem;
		min-height: 100px;
	}
}