.contac-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    min-width: 300px;
    font-size: 1.5rem;
}

.contac-label {
    margin-left: 1.5rem;
}

#contac {
    /*background-image: url('../assets/bg_contact.svg');*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#contac-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 80%;
    padding-top: 1rem;
}

#contac-title {
    width: 100%;
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding: 2rem;
}

#contac-title-tagline {
    font-size: 1.2rem;
    padding-left: 70px;
    padding-right: 70px;
}

#contac-title-text {
    text-align: center;
    font-size: 3rem;
}

#contac-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /*border-style: solid;*/
}

#contac-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 500px;
    height: 100%;
    padding-top: 3rem;
}

#contac-btn {
    margin-top: 1.5rem;
    transition: background-color 0.2s;
}

#contac-btn:hover {
    background-color: #444444;
}

#fmsg {
    min-height: 150px;
    padding: 0.8rem;
}

@media (max-width: 680px) and (orientation: portrait) {
    .contac-item{
        flex-direction: row;
    }

    #contac-btn {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    #contac-title {
        padding: 0.5rem;
    }

    #contac-title-text {
        text-align: left;
        font-size: 1.5rem;
    }
    
    #contac-title-tagline {
        display: none;
    }

    #contac-form {
        
        width: 100%;
    }

    #fmsg {
        min-height: 100px;
        padding: 0.5rem;
    }

}


@media (max-height: 540px) {
    #contac-title {
        padding: 0.5rem;
    }

    #contac-title-text {
        top: 0;
        font-size: 1.5rem;
    }

    .contac-item {
        padding: 0.5rem;
    }
}

@media (max-height: 450px) {
    #contac-title {
        padding: 0.5rem;
    }

    #contac-title-text {
        top: 0;
        font-size: 1.5rem;
    }

    #contac-title-tagline{
        display: none;
    }

    .contac-item {
        padding: 0.5rem;
    }
}
