#btn-cta {
	transition: background-color 0.2s;
}
#btn-cta:hover {
	background-color: #fd8928;
}
#header-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-color: #ffffff;
	width: 100%;
	height: 100vh;
}
#header-cursor {
	animation-name: acursor;
	animation-duration: 400ms;
	animation-iteration-count: infinite;
}
#left-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #222222;
	padding: 5%;
	padding-top: 48px;
	width: 50%;
	height: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 3vw;
}
#right-title {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}
#big-logo {
	max-width: 80%;
	max-height: 60%;
}
@keyframes acursor {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@media (orientation: portrait) {
	#header-title {
		flex-direction: column;
	}
	#left-title {
		width: 100%;
		height: 50%;
		font-size: 1.5em;
	}
	#right-title {
		width: 100%;
		height: 50%;
	}
}
