.pricing-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0.8rem 1.4rem;
    width: 250px;
    padding: 0.5rem;
    box-shadow: 0px 0px 2px 2px #d3d3d3;
}

.pricing-item-title {
    background-color: #222222;
    color: #ffffff;
    padding: 0.5rem;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    width: 100%;
}

.pricing-item-desc{
    height: 4rem;
}

.pricing-item-details{
    height: 100%;
}

.pricing-items-price {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;

}

.pricing-items-link{
    font-size:1.5rem;
    color:#222222;
}

.pricing-items-tag {
    font-size: 1.2rem;
    position: relative;
    top: 0.4rem;
}

.pricing-item-list {
    list-style: none;
    padding-inline-start: 0;
}

.pricing-item-list>li {
    background: url('../assets/check_24.svg') no-repeat left top;
    padding-left: 30px;
    padding-bottom: 0.2rem;
    margin-top: 1rem;
}

#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 3rem;
    min-height: 100vh;
}

#pricing-title-text {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

#pricing-items-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 100%;
}