.pricing-item {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0 0.8rem 1.4rem;
	box-shadow: 0px 0px 2px 2px #d3d3d3;
	padding: 0.5rem;
	width: 250px;
}

.pricing-item-title {
	margin: 0;
	background-color: #222222;
	padding: 0.5rem;
	width: 100%;
	color: #ffffff;
	font-size: 1.3rem;
	font-weight: 600;
}

.pricing-item-desc {
	height: 4rem;
}

.pricing-item-details {
	height: 100%;
}

.pricing-items-price {
	display: inline-block;
	font-size: 2rem;
	font-weight: 600;
}

.pricing-items-link {
	color: #222222;
	font-size: 1.5rem;
}

.pricing-items-tag {
	position: relative;
	top: 0.4rem;
	font-size: 1.2rem;
}

.pricing-item-list {
	list-style: none;
	padding-inline-start: 0;
}

.pricing-item-list>li {
	margin-top: 1rem;
	background: url('../assets/check_24.svg') no-repeat left top;
	padding-bottom: 0.2rem;
	padding-left: 30px;
}

#pricing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 6rem;
	min-height: 100vh;
}

#pricing-items-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	padding-top: 2rem;
	width: 100%;
}